[submodule "libultraship"]
	path = libultraship
	url = https://github.com/sxunix/libultraship.git
	branch = switch-port
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/sxunix/ZAPDTR.git
	branch = main
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
